<div class="row">
<div class="container">
<div class="jumbotron">

<h2 class= "QCL"><center> Quick Links </h2></center>
<hr>
<div class="col-md-10 col-md-offset-3">
<%= link_to 'Sign Up' , new_user_registration_path, class: 'btn btn-info'%>
<%= link_to 'Request a Quote' , '#', class: 'btn btn-info'%>
<%= link_to 'View Orders' , '#', class: 'btn btn-info'%>
<%= link_to 'Usage History' , '#', class: 'btn btn-info'%>



</div>
</div>
</div>
</div>