<div class='container'>
  <footer class='footer'>
  
    <small><center>
      copyright ©
      <a href='http://www.aquadynamics.eu/'>
        Aqua Dynamics (pvt) ltd.
      </a>
    </small>
    </center>
  </footer>
</div>
